# Specify filepatterns you want git to ignore.

data/raw/*
data/.ipynb_checkpoints
!data/raw/.gitkeep

*/.ipynb_checkpoints/*
*-checkpoint.ipynb

#Latex build files
*.out

*.gz

*.log

*.blg

*.bbl

*.aux

data/__pycache__/

data/raw/uk_energy_trends.csv


brsflufight_nerc2/__pycache__/
